<div class="af-shell">

  <header class="af-header">
    <h2 class="af-titulo">
      <i class="pi pi-box"></i>
      Activos Fijos
    </h2>
    <p class="af-subtitulo">
      Toma de inventario contra el maestro de Indigo y trazabilidad de novedades
    </p>
  </header>

  <p-tabView [(activeIndex)]="tabActiva" (onChange)="onTabChange($event)" styleClass="af-tabs">

    <p-tabPanel header="Registrar toma">
      <ng-template pTemplate="header">
        <i class="pi pi-pencil"></i>
        <span class="af-tab-label">Registrar toma</span>
      </ng-template>

      <app-toma-inventario-activos (novedadRegistrada)="irATrazabilidad()"></app-toma-inventario-activos>
    </p-tabPanel>

    <p-tabPanel header="Trazabilidad">
      <ng-template pTemplate="header">
        <i class="pi pi-history"></i>
        <span class="af-tab-label">Trazabilidad</span>
      </ng-template>

      <app-trazabilidad-activo></app-trazabilidad-activo>
    </p-tabPanel>

  </p-tabView>

</div>
